body {
	background-color: #C3CBE8;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 50px;
	font-family: "Lucida Console", Courier, monospace;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 16px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 16px;
}

button.choose-file-button {
    width: 400px;
    height: 70px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 25px;
    color: #7052CB;
}

button.analyze-button {
    width: 400px;
    height: 70px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 25px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

.para {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 25px;
}
